html,
body {
    height:100%
}

.welcome-info {
    text-align: center;
}

.menu-buttons {
    text-align: center;
}

.main-window {
    max-width: 600px;
    margin-top: 40px;
}

.menu-buttons button {
    margin: 10px;
}

.question-box p {
    cursor: pointer;
}

.deleted-question-message {
    font-style:italic; 
    color:red;
    margin-left: 20px;
}

.question-menu-buttons {
    margin-left: 5px;
}

.question-save-success-message {
    text-align: center;
    font-style: italic;
    color: green;
}

.question-save-failure-message {
    text-align: center;
    font-style: italic;
    color: red;
}

.form-control.topic-select {
    width:30%;
}