html,
body {
    height:100%
}

.welcome-info {
    text-align: center;
}

.menu-buttons {
    text-align: center;
}

.main-window {
    max-width: 600px;
    margin-top: 40px;
}

.menu-buttons button {
    margin: 10px;
}

.question-box p {
    cursor: pointer;
}

.deleted-question-message {
    font-style:italic; 
    color:red;
    margin-left: 20px;
}

.question-menu-buttons {
    margin-left: 5px;
}

.question-save-success-message {
    text-align: center;
    font-style: italic;
    color: green;
}

.question-save-failure-message {
    text-align: center;
    font-style: italic;
    color: red;
}

.form-control.topic-select {
    width:30%;
    font-style: italic;
}

.topic-link {
    font-style: italic;
    cursor: pointer;
    color: grey;
    margin-left: 10px;
    text-decoration:none !important;
}

.confirm-delete-message {
    text-align:center;
}

span.question-number-indicator p {
    font-style: italic;
    font-size: small;
    margin-left: 18px;
}

.form-control.answer-form {
    width: 50%;
}

.quiz-answer-result img {
    max-height: 50px;
    max-width: 50px;
    margin-left: 10px;
}
