{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    <head>
	<title>Quiz Builder</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
</head>
    <body>
        <div id="main-window"></div>
        {% render_bundle 'main' %}
    </body>
</html>